
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 80px;
    background: purple;
}

.triptych {
    display: flex;
    justify-content: center;
    align-items: center;

    /* perspective: 1500px; */
}
.triptic {
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* perspective: 1500px; */
}

.panel {
    width: 380px;
    height: 620px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    cursor: pointer;
    backface-visibility: hidden;
}

.panel .front, .panel .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: inherit;
}
#panel2{
    font-size: 36px; 
}

.panel .back {
    transform: rotateY(-180deg);
}


#panel1 {
    /* background-color: ;   */
    transform-origin: right;
}

#panel2 {
    /* background-color: ;   */
    z-index: 0;
}

#panel3 {
    /* background-color: ;   */
    transform-origin: left;
}

#panel4 {
    /* background-color: ;  */
    transform-origin: center;
}

#panel1.flipped {
    transform: rotateY(180deg);
    z-index: 4;
}

#panel3.flipped {
    transform: rotateY(-180deg);
    z-index: 3;
}

@media (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
    }
    body {
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 100px; */
        /* width: 400% ; */
        margin: 0;
        padding: 0;
        transform: scale(0.30);
        transform-origin: center;
        /* margin-top: 100px; */
        background: purple;
    }

    .triptych{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    /* .triptic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

    } */

    #panel1 {
        /* background-color: ;   */
        transform-origin: right;
    }
    
    #panel2 {
        /* background-color: ;   */
        z-index: 0;
    }
    
    #panel3 {
        /* background-color: ;   */
        transform-origin: left;
    }
    
    #panel4 {
        /* background-color: ;  */
        transform-origin: center;
    }
    
    #panel1.flipped {
        transform: rotateY(180deg);
        z-index: 4;
    }
    
    #panel3.flipped {
        transform: rotateY(-180deg);
        z-index: 3;
    }
}

